<form [formGroup]="mortgageForm" (ngSubmit)="calculate()">
  <header>Mortgage Calculator</header>
  <app-labelled-input label="Total Cost" for="totalCost" [control]="mortgageForm.get('totalCost')" [errorMessages]="{min: 'Please enter 1 dollar or more'}">
    <input appInput formControlName="totalCost" name="totalCost" id="totalCost" type="number">
  </app-labelled-input>
  <app-labelled-input label="Down Payment" for="downPayment" [control]="mortgageForm.get('downPayment')" [errorMessages]="{min: 'Please enter 0 dollars or more'}">
    <input appInput formControlName="downPayment" type="number" name="downPayment" id="downPayment">
  </app-labelled-input>
  <app-labelled-input label="Years" for="years" [control]="mortgageForm.get('years')" [errorMessages]="{min: 'Please enter 1 year or more'}">
    <input appInput formControlName="years" type="number" name="years" id="years">
  </app-labelled-input>
  <app-labelled-input label="Months" for="months" [control]="mortgageForm.get('months')" [errorMessages]="{min: 'Please enter 0 months or more'}">
    <input appInput formControlName="months" type="number" name="months" id="months">
  </app-labelled-input>
  <app-labelled-input label="APR (%)" for="apr" [control]="mortgageForm.get('apr')" [errorMessages]="{min: 'Please enter 0% or more'}">
    <input appInput formControlName="apr" type="number" name="apr" id="apr">
  </app-labelled-input>
  <app-labelled-input label="Payment Frequency" for="periodType" [control]="mortgageForm.get('periodType')">
    <select appInput formControlName="periodType" name="periodType" id="periodType">
      <option *ngFor="let period of selectablePeriods" [ngValue]="period">{{period}}</option>
    </select>
  </app-labelled-input>

  <footer>
    <button appButton primary type="submit">Submit</button>
  </footer>
</form>