<form [formGroup]="mortgageForm" (ngSubmit)="calculate()">
  <label>
    Total Cost
    <input formControlName="totalCost" type="number">
  </label>
  <label>
    Down Payment
    <input formControlName="downPayment" type="number">
  </label>
  <label>
    Years
    <input formControlName="years" type="number">
  </label>
  <label>
    Months
    <input formControlName="months" type="number">
  </label>
  <label>
    APR
    <input formControlName="apr" type="number">
  </label>
  <label>
    Payment Frequency
    <select formControlName="periodType">
      <option *ngFor="let period of selectablePeriods" [ngValue]="period">{{period}}</option>
    </select>
  </label>
  <button type="submit">Submit</button>
</form>

<pre>
  {{ mortgageForm.value | json }}
</pre>

<pre>
  {{ mortgageDetails | json }}
</pre>