@import '../../assets/styles/color';
@import '../../assets/styles/typography';

:host {
  display: block;
  padding: 2rem;
  border-radius: .25rem;
  background: $background-card;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

header,
footer {
  grid-column: 1 / 3;
}

header {
  font-size: $font-h1;
  font-weight: $font-weight-bold;
}