@import '../../../assets/styles/color';
@import '../../../assets/styles/typography';

@mixin btn-colors($color) {
  border: 1px solid $color;
  color: $color;

  &:hover,
  &:focus {
    color: $background-main;
    background: $color;
  }
}

:host {
  @include btn-colors($text);
  height: 2.5rem;
  padding: 0 2rem;
  font-size: $font-body1;
  font-weight: $font-body1;
  border-radius: .25rem;
  background: transparent;
  cursor: pointer;
  transition: color 150ms linear, background-color 150ms linear;

  &[primary] {
    @include btn-colors($primary);
  }

  &[danger] {
    @include btn-colors($danger);
  }
}

