@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import './assets/styles/color';

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $background-main;
  color: $text;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}