$font-h1: 1.424rem;
$font-h2: 1.266rem;
$font-h3: 1.125rem;

$font-body1: 1rem;
$font-body2: 0.889rem;
$font-body3: 0.79rem;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
